[submodule "Biomass_core"]
	path = modules/Biomass_core
	url = https://github.com/PredictiveEcology/Biomass_core.git
[submodule "Biomass_borealDataPrep"]
	path = modules/Biomass_borealDataPrep
	url = https://github.com/PredictiveEcology/Biomass_borealDataPrep.git
[submodule "Biomass_speciesData"]
	path = modules/Biomass_speciesData
	url = https://github.com/PredictiveEcology/Biomass_speciesData.git
[submodule "Biomass_speciesParameters"]
	path = modules/Biomass_speciesParameters
	url = https://github.com/PredictiveEcology/Biomass_speciesParameters.git
[submodule "scfm"]
	path = modules/scfm
	url = https://github.com/PredictiveEcology/scfm.git
[submodule "gmcsDataPrep"]
	path = modules/gmcsDataPrep
	url = https://github.com/ianmseddy/gmcsDataPrep.git
[submodule "PSP_Clean"]
	path = modules/PSP_Clean
	url = https://github.com/ianmseddy/PSP_Clean.git
[submodule "Biomass_regeneration"]
	path = modules/Biomass_regeneration
	url = https://github.com/PredictiveEcology/Biomass_regeneration.git
[submodule "LandR_reforestation"]
	path = modules/LandR_reforestation
	url = https://github.com/ianmseddy/LandR_reforestation.git
[submodule "modules/simpleHarvest"]
	path = modules/simpleHarvest
	url = git@github.com:ianmseddy/simpleHarvest.git
[submodule "git@github.com:ianmseddy/LandR_reforestation.git"]
	path = git@github.com:ianmseddy/LandR_reforestation.git
	url = ianmseddy/LandR_reforestation
